.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/resequel.github.io.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
server/app/__pycache__/__init__.cpython-310.pyc
server/app/__pycache__/config.cpython-310.pyc
server/app/__pycache__/extensions.cpython-310.pyc
server/app/routes/__pycache__/__init__.cpython-310.pyc
server/app/routes/__pycache__/dataset.cpython-310.pyc
server/app/routes/__pycache__/rewrite.cpython-310.pyc

server/venv/lib/python3.10/site-packages/*
server/venv/lib/python3.10/site-packages/*/*
server/venv/lib/python3.10/site-packages/*/*/*
server/venv/include/python3.10/greenlet
server/venv/*
server/venv/bin/*
server/venv/include/site/python3.10/greenlet/g*
